.count-down-container {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: var(--background-secondary);
    border-radius: 10px;
    margin-right: 30px;
}

.number {
    color: var(--white);
    font-size: 40px;
    font-weight: bold;
}

.number-tile {
    color: var(--background-secondary);
}