.container {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
}

.time {
    font-size: 32px;
}

.circle {
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}