@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Montserrat";
}

:root {
  --gold: #EC9E23;
  --background-primary: #1E797A;
  --background-secondary: #004059;
  --white: white;
}