.bgWrap {
    position: fixed;
    background-color: #08111A;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -100;

}

.animalImg {
    position: fixed;
    bottom: -150px;
    left: -100px;
    z-index: -1;
}

@media (max-width: 640px) {
    .animalImg {
        position: fixed;
        top: 0px;
        left: 50%;
        width: 191.5px;
        height: 238px;
        transform: rotate(-37deg);

    }
}

@media (min-width: 1900px) {
    .animalImg {
        width: 574.5;
        height: 714px;
        bottom: -200px;
        left: -150px;

    }

    .subTitleText {
        font-size: 1.125rem;
        line-height: 1.75rem;

    }
}