.bgWrap {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
}

.animalImg {
    position: fixed;
    bottom: -150px;
    left: -100px;
}

@media only screen and (max-width:1020px) {
    .countDownContainer {
        display: none;
    }
}

/* .countDownContainer {
    @media only screen and (min-width:1900px) {
        .animalContainer {
            width: 766px;
            height: 952px;
            bottom: -300px;
            left: -200px;
        }
    }
} */

/* 
.stack {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.animalImg:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.footer {
    text-align: center;
    z-index: 10;
}

.comingSoon {
    font-size: 4rem;
    margin-top: 10px;
    margin-bottom: 20px;
}


.description {
    margin-bottom: 10px;
    font-weight: 300;
}

@media only screen and (max-width:1080px) {
    .animalContainer {
        display: none;
    }
} */